body {
    image-rendering: optimizeQuality;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
}

button {
    border-style: solid;
    font-family: Arial;
}

#bottom-button {
    border-style: solid;
    font-family: Arial;
    height: 50px;
}

#discordheader{
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#searchscriptos {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 20%;
    height: 10%;
    bottom:5%;
    left: 0;
}

#scriptossearch {
    font-size: 50px;
    height: 90%;
    width: 100%;
}

#discord{
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    box-shadow: 5px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    filter: drop-shadow(8px 8px 10px gray);
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    box-shadow: 5px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    filter: drop-shadow(8px 8px 10px gray);
}

#mydivheader {
    margin: auto;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#mydivheader2 {
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(8px 8px 10px gray);
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .navbar a.active {
            background-color: #4CAF50;
            color: white;
        }

.topnav {
    color: white;
    background-color: #333;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(8px 8px 10px gray);
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

#apps {
    position: center;
    align-content: center;
    align-items: center;
    z-index: 9;
    background-color: black;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(255, 0, 0, 0.3);
    filter: drop-shadow(8px 8px 10px gray);
}

#appsheader {
    padding: 10px;
    z-index: 10;
    background-color: orangered;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

#textapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
}

#textappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#text-box {
    resize: both;
    height: 98%;
    width: 98%;
}

#settings {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

#settingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#backgroundsettings {
    color: white;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

#backgroundsettingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#browser {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
}

#browserheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#usersettings {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    color: white;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

#usersettingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#filesapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

#filesappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#filesbox {
    background-color: dimgrey;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70%;
}

#filescenter {
    background-color: dimgrey;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 23%;
}

#htmlview {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    resize: both;
}

#htmlviewheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#zecassistant {
    position: center;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

#zecheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    filter: drop-shadow(8px 8px 10px gray);
}

#output {
    display: block;
}

.zecbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(8px 8px 10px gray);
}

    .zecbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .zecbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .zecbar a.active {
            background-color: #4CAF50;
            color: white;
        }

#scriptstore {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
}

#scriptstoreheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

.mySlides {
    display: none;
}

#userexperience {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
}

#clockapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#clockappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#videoeditorapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#videoeditorappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#videotrack {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#login {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
    position: fixed;
    bottom: 50%;
    right: 45%;
    width: 10%;
    height: 20%;
}

#loginheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#notificationcenter {
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom:5%;
    right: 0;
    width: 20%;
    height: 30%;
}

#notificationcenterheader {
    padding: 10px;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#folder {
    width: 75px;
    height: 75px;
}

#imagesapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#imagesappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#editcodeapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#editcodeappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#notification {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50%;
    color:white;
}

#notifications {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50%;
}

#videoapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    resize: both;
}

#videoappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: orangered;
    color: #fff;
}

#input {
    display: block;
    width: 100%;
    height: 99%;
    font-size: 42px;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.3);
    color:white;
}