body {
    image-rendering: optimizeQuality;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
    margin: 0;
}

button {
    border-style: solid;
    font-family: Arial;
}

#bottom-button {
    border-style: solid;
    font-family: Arial;
    height: 50px;
}

.menu {
    width: 120px;
    z-index: 10;
    position: fixed;
    box-shadow: 5px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    .menu-options{
        list-style: none;
        padding: 10px 0;
        z-index: 1;
    
        .menu-option {
            font-weight: 500;
            z-index: 1;
            font-size: 14px;
            padding: 10px 40px 10px 20px;
            // border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
            
            &:hover{
                background: rgba(0, 0, 0, 0.2);
            }

        }
    }
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    box-shadow: 5px;
    width: 25%;
    height: 75%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#mydivheader {
    margin: auto;
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#savearea {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    box-shadow: 5px;
    width: 25%;
    height: 25%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#saveareaheader {
    margin: auto;
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    animation:fadeIn;
    animation-duration: 5s;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .navbar a.active {
            background-color: #4CAF50;
            color: white;
        }

.topnav {
    color: white;
    background-color: #333;
    z-index: 10;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn;
    animation-duration: 5s;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

#apps {
    position: absolute;
    align-content: center;
    align-items: center;
    z-index: 9;
    background-color: black;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#appsheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

#textapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
    backdrop-filter: blur(15px);
}

#textappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#text-box {
    height: 90%;
    width: 98%;
    overflow:auto;
    resize:none;
}

#settings {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
    backdrop-filter: blur(15px);
}

#settingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#backgroundsettings {
    color: white;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    display: none;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#backgroundsettingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#browser {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    font-family: 'Bauhaus 93';
    resize: both;
    overflow: hidden;
    display: none;
    backdrop-filter: blur(15px);
    background: rgba(0,0,0,0.5);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#browserheader {
    padding: 10px;
    cursor: move;
    font-family: 'Bauhaus 93';
    z-index: 10;
    background-color: orangered;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#usersettings {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    color: white;
    font-family: 'Bauhaus 93';
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    display: none;
}

#usersettingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#filesapp {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    font-family: 'Bauhaus 93';
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#filesappheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#filesbox {
    background-color: dimgrey;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70%;
}

#filescenter {
    background-color: dimgrey;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 23%;
}

#htmlview {
    position: absolute;
    font-family: 'Bauhaus 93';
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: hidden;
    resize: both;
    display: none;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.5);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#htmlviewheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

#zecassistant {
    font-family: 'Bauhaus 93';
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    height: 100%;
    width: 50%;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#zecassistantheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

#output {
    display: block;
}

.zecbar {
    position: fixed;
    background-color: #333;
    overflow: hidden;
    bottom: 0;
    width: 50%;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

#userexperience {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: auto;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.3);
}

#notificationcenter {
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 20%;
    height: 30%;
    display: none;
    font-family: 'Bauhaus 93';
    backdrop-filter: blur(15px);
    animation-name: fadeIn;
    animation-duration: 6s;
}

#notificationcenterheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    color:white;
}

#folder {
    width: 75px;
    height: 75px;
}

#notification {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50%;
    color: white;
    backdrop-filter: blur(15px);
}

#notifications {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    color: white;
}

#input {
    display: block;
    width: 100%;
    height: 99%;
    font-size: 42px;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(15px);
}

@keyframes rgb {
    0% {
        background-color: red;
    }

    15% {
        background-color: orange;
    }

    30% {
        background-color: yellow;
    }

    45%{
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    75% {
        background-color: indigo;
    }

    100% {
        background-color: darkviolet;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    25% {
        opacity: 25;
    }

    50% {
        opacity: 50;
    }

    75% {
        opacity: 75;
    }

    100% {
        opacity: 100;
    }
}
