body {
    image-rendering: optimizeQuality;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
    margin: 0;
}

button {
    border-style: solid;
    font-family: Arial;
}

#bottom-button {
    border-style: solid;
    font-family: Arial;
    height: 50px;
}

.menu {
    width: 120px;
    z-index: 10;
    position: fixed;
    box-shadow: 5px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    .menu-options{
        list-style: none;
        padding: 10px 0;
        z-index: 1;
    
        .menu-option {
            font-weight: 500;
            z-index: 1;
            font-size: 14px;
            padding: 10px 40px 10px 20px;
            // border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
            
            &:hover{
                background: rgba(0, 0, 0, 0.2);
            }

        }
    }
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    animation:fadeIn;
    animation-duration: 5s;
}

.appicon {
    width: 50px;
    height: 50px;
}

.topnav {
    color: white;
    background-color: #333;
    z-index: 10;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    animation: fadeIn;
    animation-duration: 5s;
}

.backgroundoption {
    width: 20%;
    border-radius: 15px;
}

#notificationcenter {
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 20%;
    height: 30%;
    display: none;
    font-family: 'Bauhaus 93';
    border-radius: 15px;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#notificationcenterheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    color:white;
}

#notification {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    height: 50%;
    color: white;
}

#notifications {
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    color: white;
}

@keyframes rgb {
    0% {
        background-color: red;
    }

    15% {
        background-color: orange;
    }

    30% {
        background-color: yellow;
    }

    45%{
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    75% {
        background-color: indigo;
    }

    100% {
        background-color: darkviolet;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    25% {
        opacity: 25;
    }

    50% {
        opacity: 50;
    }

    75% {
        opacity: 75;
    }

    100% {
        opacity: 100;
    }
}

.app {
    width: 50%;
    height: 50%;
    resize: both;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: center;
    color: white;
    overflow: hidden;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    animation: fadeIn;
    animation-duration: 6s;
}

#actionarea {
    width: 100%;
    height: 20%;
    
}

.appchoice{
    width: 75px;
    height : 75px;
}

#ActionMenu {
    width: 25%;
    height: 92.5%;
    resize: none;
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
}

#ActionMenuheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
}

.appheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
}

iframe{
    width: 100%;
    height: 92.5%;
}

#desktopbody{

}

.favorite{
    width: 15%;
    height: 10%;
    background-color: #333;
    border-radius: 15px;
}