body {
    image-rendering: optimizeQuality;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
    margin: 0;
    font-family: 'Bauhaus 93';
}

.appopt{
    width: 25%;
    z-index: 10;
    position: fixed;
    box-shadow: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

button {
    border-style: solid;
    font-family: Arial;
}

#bottom-button {
    border-style: solid;
    font-family: Arial;
    height: 50px;
}

.menu {
    width: 120px;
    z-index: 10;
    position: fixed;
    box-shadow: 5px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.menu2 {
    width: 120px;
    z-index: 10;
    position: fixed;
    box-shadow: 5px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.navbar {
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    animation:fadeIn;
    animation-duration: 5s;
}

.appicon {
    width: 50px;
    height: 50px;
}

.topnav {
    color: white;
    background-color: #333;
    z-index: 10;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    animation: fadeIn;
    animation-duration: 5s;
}

.backgroundoption {
    width: 20%;
    border-radius: 15px;
}

@keyframes rgb {
    0% {
        color: red;
        opacity: 0%;
    }

    15% {
        color: orange;
        opacity: 15%;
    }

    30% {
        color: yellow;
        opacity: 30%;
    }

    45%{
        color: green;
        opacity: 45%;
    }

    60% {
        color: blue;
        opacity: 60%;
    }

    75% {
        color: indigo;
        opacity: 75%;
    }

    100% {
        color: white;
        opacity: 100%;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    25% {
        opacity: 25;
    }

    50% {
        opacity: 50;
    }

    75% {
        opacity: 75;
    }

    100% {
        opacity: 100;
    }
}

.app {
    width: 50%;
    height: 50%;
    resize: both;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: center;
    color: white;
    overflow: hidden;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.75);
    animation: fadeIn;
    animation-duration: 6s;
}

#actionarea {
    width: 100%;
    height: 20%;
    
}

.appchoice{
    width: 75px;
    height : 75px;
}

#ActionMenu {
    width: 25%;
    height: 92.5%;
    resize: none;
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    font-family: 'Bauhaus 93';
    background: rgba(0, 0, 0, 0.75);
}

#ActionMenuheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.75);
}

.appheader {
    padding: 10px;
    z-index: 10;
    color: #fff;
    background: rgba(255, 255, 255, 0.75);
}

iframe{
    width: 100%;
    height: 92.5%;
}

#desktopbody{
    
}


.favorite{
    width: 15%;
    height: 10%;
    background-color: #333;
    border-radius: 15px;
}