body{
    margin: 0;
    background: linear-gradient(red, grey) no-repeat center center fixed;
    font-family: arial;
    align-items: center;
    align-content: center;
}

.infodiv{
    width: 100%;
    margin: 10px;
    top: 10%;
    left: 15%;
    color: white;
    background: rgba(0,0,0,0.75);
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
    text-align: center;
    border-radius: 15px;
}

.elmcontain{
    width: 70%;
    position: absolute;
    margin: 10px;
    top: 10%;
    left: 15%;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  
  .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
  .tab button:hover {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }
  
  .tab button.active {
    background: rgba(50, 50, 50, 0.5);
  }
  .tab a {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
  .tab a:hover {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }
  
  .tab a.active {
    background: rgba(50, 50, 50, 0.5);
  }
  
  .tabcontent {
    display: none;
    border-style: none;
    overflow: hidden;
    height: 92.5%;
    width: 100%;
  }

  form{
      font-size: 50px;
  }

  input{
    background: rgba(46, 46, 46, 0.5);
    box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
    border: none;
    outline: none;
    font-size: 50px;
    color: white;
    border-radius: 15px;
  }

  textarea{
    background: rgba(46, 46, 46, 0.5);
    box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
    border: none;
    outline: none;
    font-size: 50px;
    color: white;
    border-radius: 15px;
    resize: none;
  }

  h1{
      font-size: 55px;
  }

  button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
    button:hover {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }