body{
    margin: 0;
    /*background: url('TR_Space_background_2020_no_logo.png') no-repeat center center fixed;*/
    background-color: rgb(44, 44, 44);
    font-family: arial;
    align-items: center;
    align-content: center;
}

.bottomtext{
  background-color: none;
  bottom: 10px; 
  position: fixed;
  font-size: 20px;
  text-shadow: rgba(255, 0, 0, 1) 2px 2px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  text-align: center;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0);
  color: white;
}
.bottomtext:hover{
  background: linear-gradient(red,black);
  color: white;
  border-radius: 15px;
  text-shadow: rgba(0, 0, 0, 1) 2px 2px;
  box-shadow: rgba(255, 0, 0, 0.75) 2.5px 2.5px 2.5px 2.5px; 
  transform: translateY(-20px);
}

.rainbowtext{
  animation: rainbow 4s ease infinite;
  background-size: 1800% 1800%;
  background-image: linear-gradient(124deg, #ff0101, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1000% 1000%;
  animation-play-state: running;
  -webkit-background-clip: text;
  color: transparent;
}

a{
  cursor: help;
}

.infodiv{
    width: 100%;
    margin: 10px;
    top: 10%;
    left: 15%;
    color: white;
    background: rgba(0,0,0,0.75);
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.elmcontain{
    width: 70%;
    position: absolute;
    margin: 10px;
    top: 10%;
    left: 15%;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, .75);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  
  .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }

  .tab button:hover {
    background-color: darkred;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }
  
  .tab button.active {
    background: rgba(50, 50, 50, 0.5);
  }
  .tab a {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
  .tab a:hover {
    background-color: darkred;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }
  
  .tab a.active {
    background: rgba(50, 50, 50, 0.5);
  }
  
  .tabcontent {
    display: none;
    border-style: none;
    overflow: hidden;
    height: 92.5%;
    width: 100%;
  }

form{
  font-size: 50px;
}

input{
  background: rgba(46, 46, 46, 0.5);
  box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
  border: none;
  outline: none;
  font-size: 50px;
  color: white;
  border-radius: 15px;
}

textarea{
  background: rgba(46, 46, 46, 0.5);
  box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
  border: none;
  outline: none;
  font-size: 50px;
  color: white;
  border-radius: 15px;
  resize: none;
}

h1{
  font-size: 55px;
}

.innercontents{
  height: 300px; 
  z-index: 1;
  left: 20%;
  height: 100%;
  width: 60%;
  position: fixed;
  text-align: center;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 25px;
  background: rgba(0, 0, 0, 0);
  color: white;
  animation: rainbow 4s ease infinite;
  animation-play-state: paused;
  background-size: 1800% 1800%;
} button:hover {
  background: linear-gradient(124deg, #ff0101, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1000% 1000%;
  animation-play-state: running;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
  transform: scale(1.25);
  border-radius: 15px;
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}